<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m a Software Engineer at 
      <a class="underline-link" href="https://rtcamp.com/" target="_blank">rtCamp</a> and a 2-time <strong>Noteworthy Contributor</strong> (Top 50) for WordPress 6.8 and 6.9. I recently graduated from 
      <a class="underline-link" href="https://ahduni.edu.in/" target="_blank">Ahmedabad University</a>. Previously, I led a team at 
      <a class="underline-link" href="https://adsolut.in/" target="_blank">Adsolut Media</a> to build a backend system handling 10Cr daily requests.
    </p>

    <p>
      I enjoy bridging the gap between engineering and design. My goal is to build scalable, efficient systems while contributing to the open-source ecosystem. To date, I have merged over 170+ PRs into the WordPress Gutenberg repository.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing cricket, hanging out at the beach, or traveling.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
